*{
	margin:0;
	padding:0;
}
.header{
	background: orange;
	height: 150px;
}
.footer{
	background: red;
	height: 100px;
}
.main-wrap{
	background: green;
	height: 300px;
}


.main-wrap{
	overflow: hidden;
}
.main-wrap .left-wrap{
	background: blue;
	float:left;
	height: 22px;
	width: 150px;
	margin-left: -100%;
	margin-bottom: -9999px;
	padding-bottom: 9999px;
	overflow:hidden;
}
.main-wrap .right-wrap{
	background: yellow;	
	float:left;
	height: 22px;
	width: 100px;
	margin-left: -100px;
	margin-bottom: -9999px;
	padding-bottom: 9999px;
	overflow:hidden;
}
.main-wrap .middle-wrap{
	background: brown;	
	float: left;
	width: 100%;
	margin-bottom: -9999px;
	padding-bottom: 9999px;
	overflow:hidden;	
}
.main-wrap .middle-wrap .inner-wrap{
	margin-right: 100px;
	margin-left: 150px;
}